/*template-less*/
@backGroundColor: #79C547;
.main-wrap {
    /*background-color: #79C547;*/
}

.cws h3 {
    background-color: @backGroundColor;
}

.cws .name span {
    color: #408612;
}

.back-top .main-icon {
    background-position: -58px -490px;
}

.back-top {
    background-color: #fff;
}

.back-top:hover {
    background-color: #f9f9f9;
}

.header {
    background: url('') no-repeat scroll 0 0 @backGroundColor;
}

.header .company-name {
    color: #fff;
}

.header .company-name .examp {
    color: #fff;
}

.nav {
    background-color: #90c41a;
    background-image: linear-gradient(#a9dc1f, #90c41a);
    background-repeat: repeat-x;
}

.nav-tabs a.tab-link {
    color: #333;
}

.nav-tabs li.current a.tab-link {
    background-color: #fff;
}

.nav-tabs li.current a.tab-link,
.nav-tabs li.hov a {
    border-top-color: #67533B;
}

.home-company-name a {
    color: #1F8500;
}

.home-company-name a:hover {
    color: #EE6600;
}

.m-box-header h3 {
    color: #1f8500;
}

.v3-email {
    border-color: @backGroundColor;
}

.nav-tabs2 a.tab-link {
    color: #333;
}